<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="Extent_reports_demo.Extent_reports.Extent_report_demo"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
